.left{
  float: left;
  text-align: center;
  width:50%;
  position: relative; 
  background: none;
}
.work-time{
  float: left;
  width:40%;
  text-align: center;
  padding-top: 70px;
  padding-left: 100px;
}
.break-time{
  display: inline-block;
  width:40%;
  text-align: center;
  padding-top: 70px;
}
.buttons{
  float: right;
  text-align: center;
  vertical-align: top;
  padding-right: 50px;
}